---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import NewsletterForm from "../components/NewsletterForm.astro";
import heroImage from "../../public/assets/home/desktop/phone-illustration.png";
import Button from "../components/Button.astro";
import Tesla from "@assets/shared/desktop/tesla-light.svg";
import Microsoft from "@assets/shared/desktop/microsoft-light.svg";
import HP from "@assets/shared/desktop/hewlett-packard-light.svg";
import Oracle from "@assets/shared/desktop/oracle-light.svg";
import Google from "@assets/shared/desktop/google-light.svg";
import nvidia from "@assets/shared/desktop/nvidia-light.svg";
import majorPerk1 from "@assets/home/desktop/easy-to-implement.png";
import majorPerk2 from "@assets/home/desktop/simple-ui.png";
import minorPerk1 from "@assets/home/desktop/icon-personal-finances.svg";
import minorPerk2 from "@assets/home/desktop/icon-banking-and-coverage.svg";
import minorPerk3 from "@assets/home/desktop/icon-consumer-payments.svg";
---

<Layout title="PayAPI | Home">
	<section class="hero">
		<div class="hero__content">
			<h1>Start building with our APIs for absolutely free.</h1>
			<NewsletterForm visible={false} hero={true} />
			<div>
				<p>Have any questions?</p>
				<a href="/contact">Contact Us</a>
			</div>
		</div>
		<div class="hero__image">
			<Image
				src={heroImage}
				alt=""
				width={heroImage.width}
				height={heroImage.height}
			/>
		</div>
	</section>
	<section class="partners">
		<div class="partners__text">
			<h2>Who we work with</h2>
			<p>
				Today, millions of people around the world have successfully
				connected their accounts to apps they love using our API. We
				provide developers with the tools they need to create easy and
				accessible experiences for their users.
			</p>
			<a href="/about"
				><Button variant="secondary-dark" buttonType="button">
					About Us
				</Button></a
			>
		</div>
		<div class="partners__imageWrapper">
			<Image
				src={Tesla}
				alt={"Tesla's logo"}
				width={Tesla.width}
				height={Tesla.height}
			/>
			<Image
				src={Microsoft}
				alt={"Microsoft's logo"}
				width={Microsoft.width}
				height={Microsoft.height}
			/>
			<Image
				src={HP}
				alt={"HP's logo"}
				width={HP.width}
				height={HP.height}
			/>
			<Image
				src={Oracle}
				alt={"Oracle's logo"}
				width={Oracle.width}
				height={Oracle.height}
			/>
			<Image
				src={Google}
				alt={"Google's logo"}
				width={Google.width}
				height={Google.height}
			/>
			<Image
				src={nvidia}
				alt={"nvidia's logo"}
				width={nvidia.width}
				height={nvidia.height}
			/>
		</div>
	</section>
	<section class="majorPerks">
		<div class="majorPerk">
			<div class="majorPerk__image">
				<Image
					src={majorPerk1}
					alt={""}
					densities={[1.5, 2]}
					quality={"high"}
					width={majorPerk1.width}
					height={majorPerk1.height}
				/>
			</div>
			<div class="majorPerk__text">
				<h2>Easy to implement</h2>
				<p>
					Our API comes with just a few lines of code. You’ll be up
					and running in no time. We built our documentation page to
					integrate payments functionality with ease.
				</p>
			</div>
		</div>
		<div class="majorPerk">
			<div class="majorPerk__image">
				<Image
					src={majorPerk2}
					alt={""}
					width={majorPerk2.width}
					height={majorPerk2.height}
				/>
			</div>
			<div class="majorPerk__text">
				<h2>Simple UI & UX</h2>
				<p>
					Our pre-built form is easy to integrate in your app or
					website’s checkout flow and designed to optimize conversion.
				</p>
			</div>
		</div>
	</section>
	<section class="minorPerks">
		<div class="minorPerk">
			<div class="minorPerk__image">
				<Image
					src={minorPerk1}
					alt={""}
					width={minorPerk1.width}
					height={minorPerk1.height}
				/>
			</div>
			<div class="minorPerk__text">
				<h3>Personal Finances</h3>
				<p>
					Consolidate financial data from multiple sources and
					categorize transactions up to 2 years of history. Analyze
					reports to reconcile activities in your account.
				</p>
			</div>
		</div>
		<div class="minorPerk">
			<div class="minorPerk__image">
				<Image
					src={minorPerk2}
					alt={""}
					width={minorPerk2.width}
					height={minorPerk2.height}
				/>
			</div>
			<div class="minorPerk__text">
				<h3>Banking & Coverage</h3>
				<p>
					With our platform, you can speed up account onboarding and
					support ongoing payments for checking, savings, credit card,
					and brokerage accounts.
				</p>
			</div>
		</div>
		<div class="minorPerk">
			<div class="minorPerk__image">
				<Image
					src={minorPerk3}
					alt={""}
					width={minorPerk3.width}
					height={minorPerk3.height}
				/>
			</div>
			<div class="minorPerk__text">
				<h3>Consumer Payments</h3>
				<p>
					It’s easier to set up secure bank payments with us through a
					flow designed with the user experience in mind. Customers
					could instantly authenticate their account.
				</p>
			</div>
		</div>
	</section>
</Layout>

<style lang="scss">
	body {
		background-image: url(/assets/shared/desktop/bg-pattern-circle.svg);
		background-size: 200vw;
		background-position: center -70vh;
		background-repeat: no-repeat;
	}
	.hero,
	.partners,
	.majorPerks,
	.minorPerks {
		padding-inline: 1.5rem;
	}
	.hero {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
		padding-block-end: 5rem;
		gap: 1.5rem;
		&__content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 1.5rem;
			text-align: center;
			h1 {
				font-family: var(--ff-heading);
				color: var(--primary-200);
				font-weight: var(--fw-400);
				font-size: clamp(2rem, 10vw, 2.5rem);
				letter-spacing: -1px;
			}
			div {
				width: 100%;
				margin-inline: auto;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 0.5ch;
				p {
					color: var(--primary-100);
				}
				a {
					color: var(--primary-100);
					font-weight: var(--fw-700);
					text-decoration: none;
				}
			}
		}
		&__image {
			min-height: 300px;
			img {
				width: fit-content;
				max-width: 40vw;
				height: fit-content;
				object-fit: contain;
				aspect-ratio: 5.2/10;
			}
		}
	}

	.partners {
		background-color: var(--primary-300);
		color: var(--accent-100);
		display: flex;
		flex-direction: column-reverse;
		padding-block: 5rem;
		gap: 3rem;
		background-image: url(/assets/shared/desktop/bg-pattern-circle.svg);
		background-size: 200%;
		background-position: center -150vw;
		background-repeat: no-repeat;
		&__text {
			text-align: center;
			h2 {
				font-size: clamp(2rem, 10vw, 3rem);
				margin-bottom: 1.5rem;
			}
			p {
				font-size: clamp(0.75rem, 3.5vw, 1.5rem);
				margin-bottom: 3rem;
				color: var(--accent-100);
				letter-spacing: 2px;
				line-height: 150%;
				font-weight: 100;
				font-family: var(--ff-body);
				opacity: 0.8;
			}
		}
		&__imageWrapper {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: repeat(3, 1fr);
			place-items: center;
			gap: 3rem;
			img:nth-of-type(1) {
				aspect-ratio: 7.7/1;
			}
			img:nth-of-type(2) {
				aspect-ratio: 4.77/1;
			}
			img:nth-of-type(3) {
				aspect-ratio: 5.25/1;
			}
			img:nth-of-type(4) {
				aspect-ratio: 7.82/1;
			}
			img:nth-of-type(5) {
				aspect-ratio: 2.92/1;
			}
			img:nth-of-type(6) {
				aspect-ratio: 5.34/1;
			}
		}
	}

	.majorPerks {
		display: flex;
		flex-direction: column;
		gap: 5rem;
		padding-block: 5rem;
		.majorPerk {
			&__image {
				width: fit-content;
				height: fit-content;
				margin-bottom: 3rem;
				img {
					width: fit-content;
					height: fit-content;
					object-fit: contain;
					&:first-of-type {
						aspect-ratio: 15.6/10;
					}
					&:last-of-type {
						aspect-ratio: 11.3/10;
					}
				}
			}
			&__text {
				text-align: center;
				display: flex;
				flex-direction: column;
				gap: 1.5rem;
				h2 {
					color: var(--primary-200);
					font-size: clamp(2rem, 10vw, 2.5rem);
				}
				p {
					color: var(--primary-100);
					font-size: clamp(0.75rem, 4vw, 1.5rem);
				}
			}
		}
	}

	.minorPerks {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		//padding-block: 0 5rem;
		justify-content: center;
		align-items: center;
		.minorPerk {
			&__image {
				width: fit-content;
				height: fit-content;
				margin-bottom: 2.5rem;
				margin-inline: auto;
				img {
					width: fit-content;
					height: fit-content;
					object-fit: contain;
					aspect-ratio: 1;
				}
			}
			&__text {
				text-align: center;
				display: flex;
				flex-direction: column;
				gap: 1rem;
				h3 {
					color: var(--primary-200);
					font-size: clamp(0.875rem, 5vw, 1.75rem);
					font-weight: var(--fw-700);
					font-family: var(--ff-body);
				}
				p {
					color: var(--primary-100);
					font-size: clamp(0.75rem, 4vw, 1.5rem);
				}
			}
		}
	}
	@media only screen and (min-width: 599px) {
		.partners {
			&__text {
				p {
					font-size: clamp(0.875rem, 2.5vw, 2rem);
					max-width: 60ch;
					margin-inline: auto;
				}
			}
		}
		.majorPerks {
			.majorPerk {
				&__text {
					p {
						font-size: clamp(0.875rem, 2.75vw, 2rem);
						max-width: 40ch;
						margin-inline: auto;
					}
				}
			}
		}
		.minorPerks {
			.minorPerk {
				&__text {
					p {
						font-size: clamp(0.875rem, 2.75vw, 2rem);
						max-width: 40ch;
						margin-inline: auto;
					}
				}
			}
		}
	}

	@media only screen and (min-width: 768px) {
		body {
			background-size: 120vw;
			background-position: center -70vh;
		}
		.hero,
		.partners,
		.majorPerks {
			padding-inline: 10vw;
		}
		.minorPerks {
			padding-inline: 2rem;
		}
		.hero {
			&__content {
				h1 {
					max-width: 20ch;
					margin-inline: auto;
					font-size: clamp(2.5rem, 6vw, 3.5rem);
				}
				div {
					a,
					p {
						font-size: clamp(0.875rem, 2vw, 1.5rem);
					}
				}
			}
			&__image {
				img {
					margin-inline: auto;
					width: 25vw;
				}
			}
		}

		.partners {
			background-position: center;
			&__imageWrapper {
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: 1fr 1fr;
				place-items: center;
			}
			&__text {
				h2 {
					font-size: clamp(2.5rem, 6vw, 3.5rem);
				}
				p {
					font-size: clamp(0.875rem, 2vw, 1.5rem);
					max-width: 60ch;
					margin-inline: auto;
					line-height: 180%;
				}
			}
		}
		.majorPerks {
			.majorPerk {
				&__image {
					margin-inline: auto;
					img {
						max-width: 50vw;
					}
				}
				&__text {
					h2 {
						font-size: clamp(2.5rem, 6vw, 3.5rem);
					}
					p {
						font-size: clamp(0.875rem, 2vw, 1.5rem);
						max-width: 60ch;
						margin-inline: auto;
						line-height: 180%;
					}
				}
			}
		}
		.minorPerks {
			flex-direction: row;
			.minorPerk {
				&__text {
					h3 {
						font-size: clamp(1rem, 2.5vw, 1.5rem);
					}
					p {
						font-size: clamp(0.875rem, 1.85vw, 1.5rem);
						max-width: 30ch;
						margin-inline: auto;
						line-height: 180%;
					}
				}
			}
		}
	}
	@media only screen and (min-width: 1023px) {
		.hero {
			h1 {
				max-width: none;
				font-size: clamp(1rem, 9vw, 3.5rem);
			}
		}

		.partners {
			&__text {
				h2 {
					font-size: clamp(1rem, 8vw, 3rem);
				}
				p {
					max-width: none;
					font-size: clamp(1rem, 1.25vw, 2rem);
				}
			}
		}
		.minorPerks {
			.minorPerk {
				&__text {
					p {
						font-size: clamp(1rem, 1vw, 1.5rem);
					}
				}
			}
		}
	}
	@media only screen and (min-width: 1366px) {
		body {
			background-size: 60vw;
			background-position: 50vw -35vh;
		}
		.hero {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			&__content {
				text-align: left;
				max-width: 50%;
				div {
					margin-inline: 0;
					justify-content: start;
					p,
					a {
						font-size: clamp(0.875rem, 1vw, 1.5rem);
					}
				}
			}
			&__image {
				margin-inline: auto;
				img {
					max-width: 20vw;

					margin-right: 50%;
				}
			}
		}
		.partners {
			flex-direction: row;
			justify-content: space-between;
			background-position: -25% 110%;
			background-size: 60%;
			padding-block: 8rem;
			&__text {
				text-align: left;
				h2 {
					font-size: clamp(2.5rem, 3.5vw, 3.5rem);
				}
				p {
					font-size: clamp(0.875rem, 1vw, 1.5rem);
					max-width: 45ch;
					margin-inline: 0;
				}
			}
		}
		.majorPerks {
			background-image: url(/assets/shared/desktop/bg-pattern-circle.svg);
			background-size: 50%;
			background-position: 150% bottom;
			background-repeat: no-repeat;
			padding-block: 8rem;
			.majorPerk {
				display: flex;
				flex-direction: row;
				gap: 8rem;
				&__text {
					text-align: left;
					margin-block: auto;
					h2 {
						font-size: clamp(2.5rem, 3.5vw, 3.5rem);
					}
					p {
						font-size: clamp(1rem, 1vw, 1.5rem);
					}
				}
				&__image {
					img {
						max-width: 35vw;
					}
				}
				&:last-of-type {
					flex-direction: row-reverse;
				}
			}
		}
		.minorPerks {
			justify-content: space-between;
			padding-inline: 10vw;
			.minorPerk {
				&__text {
					h3 {
						font-size: clamp(1.25rem, 1.25vw, 1.5rem);
					}
					p {
						font-size: clamp(1rem, 1vw, 1.5rem);
						max-width: none;
					}
				}
				&__image {
				}
			}
		}
	}
	@media only screen and (min-width: 1920px) {
		.partners {
			&__imageWrapper {
				gap: 7rem;
				img {
					scale: 1.4;
				}
			}
		}
	}
	@media only screen and (min-width: 2559px) {
		.hero {
			&__image {
				img {
					max-height: 900px;
					margin-top: 5rem;
				}
			}
			h1 {
				font-size: clamp(4rem, 3vw, 6rem);
			}
		}
		.partners {
			&__text {
				h2 {
					font-size: clamp(3.5rem, 3vw, 6rem);
				}
				p {
					font-size: clamp(1.5rem, 0.875vw, 3rem);
				}
			}
		}
		.majorPerks {
			.majorPerk {
				&__text {
					h2 {
						font-size: clamp(2rem, 2.5vw, 4rem);
					}
					p {
						font-size: clamp(1.5rem, 1vw, 3rem);
					}
				}
			}
		}
		.minorPerks {
			.minorPerk {
				&__text {
					h3 {
						font-size: clamp(1rem, 1.75vw, 2.5rem);
					}
					p {
						font-size: clamp(1rem, 1vw, 2rem);
						max-width: 40ch;
					}
				}
			}
		}
	}
	@media only screen and (min-width: 3839px) {
		.hero,
		.partners,
		.majorPerks,
		.minorPerks {
			padding-inline: 20vw;
		}
	}
</style>

<script is:inline>
	const contactForm = document.querySelector("form.hero");
	const inputs = contactForm.querySelectorAll("input");
	const textArea = contactForm.querySelector("textarea");
	contactForm?.addEventListener("submit", (e) => {
		e.preventDefault();
		textArea.value = "";
		inputs.forEach((input) => {
			input.value = "";
			console.log("dupa");
		});
	});
</script>
