---
import { Image } from "astro:assets";
import logo from "../../public/assets/shared/desktop/logo.svg";
import burger from "../../public/assets/shared/mobile/menu.svg";
import Button from "./Button.astro";
import Close from "../../public/assets/shared/mobile/close.svg";
---

<header transition:persist>
	<a href="/" class="logoLink">
		<Image
			src={logo}
			alt={"PayAPI logo"}
			width={logo.width}
			height={logo.height}
		/>
	</a>
	<button class="burger">
		<Image
			src={burger}
			alt={"Open the navigation menu"}
			width={burger.width}
			height={burger.height}
		/>
	</button>
	<nav class="hidden">
		<button class="close">
			<Image
				src={Close}
				alt="Close menu"
				width={Close.width}
				height={Close.height}
			/>
		</button>
		<ul>
			<li><a href="/pricing">Pricing</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
		<a href="contact" class="CTA">
			<Button buttonType="button" variant="primary mobile-menu">
				Schedule a Demo
			</Button>
		</a>
	</nav>
</header>

<style lang="scss">
	header {
		padding: 2.5rem 1.5rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	nav {
		transition: transform 500ms ease-in-out;
		transform: translateX(0%);
		position: fixed;
		top: 0;
		right: 0;
		left: 20%;
		bottom: 0;
		background-color: var(--primary-300);
		display: flex;
		flex-direction: column;
		align-items: center;
		background-image: url(/assets/shared/desktop/bg-pattern-circle.svg);
		background-size: 200%;
		background-repeat: no-repeat;
		background-position: 70% -250%;
		z-index: 200;
	}
	.logoLink {
		width: 35%;
		min-width: 10rem;
		img {
			object-fit: contain;
			aspect-ratio: 35.5/10;
		}
	}

	.burger {
		background-color: transparent;
		border: 0;
		img {
			aspect-ratio: 1;
		}
	}
	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0;
		margin: 0;
		margin-top: 2.5rem;
		padding-inline: 1.5rem;
		width: 100%;
		gap: 2rem;

		li {
			a {
				font-size: clamp(1rem, 5.5vw, 2rem);
				color: var(--primary-50);
				opacity: 0.7;
				text-decoration: none;
				font-family: var(--ff-body);
			}
		}
	}
	.hidden {
		transition: transform 500ms ease-in-out;
		transform: translateX(100%);
	}
	.close {
		border: 0;
		padding-block: 1rem;
		margin-top: 2rem;
		// //padding-inline: 0;
		// padding-inline: 1.5rem;
		margin-right: 1.5rem;
		width: calc(100% - 3rem);
		background-color: transparent;
		margin-left: auto;
		border-bottom: 1px solid rgba(#fbfcfe, 0.15);

		img {
			margin-left: auto;
			aspect-ratio: 1;
		}
	}

	.CTA {
		margin-top: 2rem;
		width: 100%;
		padding-inline: 1.5rem;
	}

	@keyframes slideOut {
		from {
			transform: translateX(0%);
		}

		to {
			transform: translateX(100%);
			display: none;
		}
	}

	@media only screen and (min-width: 767px) {
		header {
			display: flex;
			align-items: center;
			margin-inline: 2.5rem;
			padding: 2.5rem 0;
		}
		nav {
			position: relative;
			inset: 0;
			background-color: transparent;
			flex-direction: row;
			flex-grow: 1;
			justify-content: space-between;
		}
		.burger,
		.close {
			display: none;
		}
		.logoLink {
			width: fit-content;
		}
		ul {
			display: flex;
			flex-direction: row;
			margin: 0;
			padding: 0;
			width: fit-content;
			margin-left: 3rem;
			li {
				a {
					color: var(--primary-100);
					font-size: clamp(0.75rem, 2vw, 1.5rem);
					font-weight: var(--fw-700);
					opacity: 0.7;
					transition: opacity 250ms ease-in-out;
					&:hover {
						cursor: pointer;
						opacity: 1;
					}
				}
			}
		}
		.CTA {
			width: fit-content;
			// width: 40%;
			// min-width: 20%;
			padding: 0;
			margin: 0;
		}
	}

	@media only screen and (min-width: 1024px) {
		ul {
			margin: 0;
			li {
				a {
					font-size: clamp(1rem, 1.25vw, 1.5rem);
					font-weight: var(--fw-700);
				}
			}
		}
		.logoLink {
			width: fit-content;
			margin-right: 5rem;
		}
	}

	@media only screen and (min-width: 1366px) {
		header {
			margin-inline: 10vw;
		}
		ul {
			margin: 0;
			li {
				a {
					font-size: clamp(0.5rem, 1vw, 1.5rem);
					font-weight: var(--fw-700);
				}
			}
		}
	}
	@media only screen and (min-width: 2559px) {
		.logoLink {
			transform: scale(1.5) translateX(25%);
		}
		ul {
			margin-left: 3rem;
			gap: 5rem;
			li {
				a {
					font-size: clamp(1rem, 1.125vw, 2.5rem);
				}
			}
		}
	}
	@media only screen and (min-width: 3839px) {
		header {
			margin-inline: 20vw;
		}
	}
</style>

<script>
	// function everything() {

	// }
	const burgerButton = document.querySelector(".burger");
	const closeButton = document.querySelector(".close");
	const navElement = document.querySelector("nav");

	burgerButton?.addEventListener("click", menuFunc);
	closeButton?.addEventListener("click", menuFunc);

	let menuOpened: Boolean = false;
	export function menuFunc() {
		menuOpened = !menuOpened;
		if (menuOpened) {
			navElement?.setAttribute("aria-expanded", "true");
			navElement?.classList.remove("hidden");
		} else if (!menuOpened) {
			navElement?.setAttribute("aria-expanded", "false");
			navElement?.classList.add("hidden");
		}
	}
	window.addEventListener("resize", widthCheck);
	window.addEventListener("load", widthCheck);
	export function widthCheck() {
		if (window.innerWidth > 767) {
			navElement?.setAttribute("aria-expanded", "true");
			navElement?.classList.remove("hidden");
		} else if (window.innerWidth < 767) {
			navElement?.setAttribute("aria-expanded", "false");
			navElement?.classList.add("hidden");
		}
	}
	document.addEventListener("astro:page-load", menuFunc);
	document.addEventListener("astro:page-load", widthCheck);
	document.addEventListener("astro:page-load", () => {
		menuOpened = false;
		if (window.innerWidth > 767) {
			navElement?.setAttribute("aria-expanded", "true");
			navElement?.classList.remove("hidden");
		} else if (window.innerWidth < 767) {
			navElement?.setAttribute("aria-expanded", "false");
			navElement?.classList.add("hidden");
		}
	});
</script>
